/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-gold: #c59d5f;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #F3EEEA;
  }

  .title {
    text-align: center;
  }
  
  .title h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 62px;
    padding: 0 20px; /* Padding for smaller screens */
  }

  .title .gradient {
    background: linear-gradient(to right, #9C0F48 0%, #B8621B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  p {
    margin-bottom: 1.25rem;
    color: grey;
  }
  
  .section-center {
    width: 90vw;
    margin: 50px auto 0;
    max-width: 720px;
  }
  .question {
    background: #EBE3D5;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }
  
  .question-title p {
    letter-spacing: 0.1rem;
    color: #302b25;
    font-weight: bolder;
    font-size: 16px;
  }
  .question-btn {
    font-size: 16px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #302b25;
  }
  
  .question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid grey;
    font-size: 13px;
  }

  .otherq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  .otherq h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin: 0;
  }

  .otherq p{
    text-align: center;
    margin: 0 640px;
  }

  .copy-text{
    position: relative;
    padding: 5px;
    background-color: #EBE3D5;
    border-radius: 10px;
    display: flex;
    margin: 30px 0px;
  }

  .copy-text input.text{
    padding: 10px;
    font-size: 14px;
    color: #302b25;
    border: none;
    outline: none;
    background-color: transparent;

  }

  .copy-text button{
    padding: 0px 15px;
    background: #F3EEEA;
    color: #302b25;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .copy-text button:hover {
    color: #000;
  }

  .copy-text button:active{
    background: rgb(218, 213, 206);
  }

  .copy-text button:before{
    content: "Copied";
    position: absolute;
    top: -10px;
    right: 0px;
    background: #EBE3D5;
    padding: 8px 10px;  
    border-radius: 10px;
    font-size: 12px;
    display: none;
  }

  .copy-text button:after {
    content: "Copied";
    position: absolute;
    top: -45px;
    right: 0;
    background: #EBE3D5;
    padding: 8px 10px;  
    border-radius: 10px;
    font-size: 12px;
    display: block; /* Set to 'block' by default */
    opacity: 0; /* Hide initially */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */
  }
  
  .copy-text.active button:after {
    opacity: 1; /* Show the 'Copied' message */
    transform: translateY(5px); /* Optional: Add a little vertical translation for smooth appearance */
  }
  /* hide text */
  .question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }

    /* Media query for tablets (landscape and portrait) */
@media screen and (max-width: 1600px){
  .title h1 {
    font-size: 40px; /* Adjust font size for tablets */
    padding: 0 10px; /* Adjust padding for tablets */
  }
  .otherq p {
    margin: 0 20px; /* Adjust margin for phones */
  }
}

/* Media query for phones */
@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 28px; /* Adjust font size for phones */
    padding: 0 5px; /* Adjust padding for phones */
  }

  .otherq p {
    margin: 0 10px; /* Adjust margin for tablets */
  }
}